node_modules/

# client-side
up94ka-client/node_modules/

# server-side
up94ka-server/node_modules/
up94ka-server/.env
up94ka-server/requests/


# "git-clone-server": "git clone https://github.com/TyT-NICK/up94ka-server",
# "git-clone-client": "git clone https://github.com/TyT-NICK/up94ka-client",
# "git-clone": "concurrently \"npm run clone-server\" \"npm run clone-client\""
