.admin-menu {
  display: flex;
  flex-direction: column;
}

.admin-menu__item {
  --item-size: 60px;
  text-align: center;
  vertical-align: middle;
  width: var(--item-size);
  height: var(--item-size);
  line-height: var(--item-size);
  font-family: 'Material Icons';
  font-size: 2rem;
  color: rgba(64, 64, 64, 0.672);
}

.admin-menu__item.active {
  background: var(--col-bg-additional);
}
