header {
  width: 100%;
  padding: 0 var(--padding-v);
  background: var(--col-main);
  padding: var(--padding-v) var(--padding-h);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--col-text-light);
  user-select: none;
  grid-area: header;
}

.header__logo {
  font-size: 1.6em;
  font-weight: bold;
}

.header__user-name {
  cursor: pointer;
  color: var(--col-additional);
  text-decoration: underline;
}

.header__user-info {
  position: relative;
}

.header__menu {
  border-radius: 7px;
  position: absolute;
  top: 100%;
  right: 0;
}
