.punishment-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px 7px;
}

.punishment-form .btn-submit {
  grid-column: 2;
}


.punishment-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--col-main);
}
