.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--col-bg-additional);
  padding: var(--padding-v) var(--padding-h);
}

.side-menu__report {
  font-size: 0.95rem;
}

.side-menu__report-button {
  text-decoration: underline;
  cursor: pointer;
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.side-menu ul {
  padding: 0;
}
.side-menu li {
  list-style: none;
  padding: 7px 15px;
  border-radius: 7px;
  background: var(--col-additional);
}
