body {
  background: var(--col-bg-main);
}
.content-container {
  width: min(100%, 1024px);
}

.hidden {
  display: none;
}

.menu {
  background: var(--col-bg-additional);
  list-style: none;
  padding: 15px;
  box-shadow: 0 0 15px -10px hsla(0, 0%, 25%, 1);
}

.menu__item {
  color: var(--col-text-dark);
}

.menu__item + .menu__item {
  padding-top: 7px;
}

a,
a:visited {
  text-decoration: inherit;
  font-style: unset;
  color: inherit;
}

.page {
  display: flex;
}

.page .side-menu {
  flex: 0 0 auto;
}

.page main {
  overflow-y: scroll;
}
