@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* 1. Colors */
  --col-main: 0;
  --col-main-light: hsla(var(--col-main), 50%, 75%, 100%);
  --col-main-normal: hsla(var(--col-main), 50%, 50%, 100%);
  --col-main-dark: hsla(var(--col-main), 50%, 25%, 100%);

  --col-text: 0;
  --col-text-light: hsla(var(--col-main), 50%, 75%, 100%);
  --col-text-normal: hsla(var(--col-main), 50%, 50%, 100%);
  --col-text-dark: hsla(var(--col-main), 50%, 25%, 100%);
  
  --col-accent: 36;
  --col-accent-light: hsla(var(--col-main), 90%, 75%, 100%);
  --col-accent-normal: hsla(var(--col-main), 90%, 50%, 100%);
  --col-accent-dark: hsla(var(--col-main), 90%, 25%, 100%);

  --col-red: 0;
  --col-red-light: hsla(var(--col-main), 50%, 75%, 100%);
  --col-red-normal: hsla(var(--col-main), 50%, 50%, 100%);
  --col-red-dark: hsla(var(--col-main), 50%, 25%, 100%);

  /* 2. Typography */
  --font-light: 
}
